<div>
    <h3>Controller</h3>
    
    <tabs>
        <pane title="JS">
            
            <p>Controllers are created with the .controller method.  Dependencies are injected, to enable script minification an array-form of controller definition is provided.  String arguments define services to inject as show here:</p>
            <snippet src="js/controllers.js" from="7" to="7"></snippet>
            
            <p>Controllers functions don't define a return value, instead they build up the view scope.  This is shown below in the use of the scope variable.</p>
            <snippet src="js/controllers.js" from="6" to="39"></snippet>

        </pane>
    </tabs>

</div>