<div>
    <h3>Directives</h3>
    
    <p></p>

    <tabs>
        <pane title="HTML">
            <p>Directives extend HTML to allow for more of an app to be constructed declarativly.</p>
            <p>This code below allowed this snippet to show the code on the JS panel.</p>
            <snippet src="partials/directive.html" from="16" to="16"></snippet>
            <p>The tabs for this site are created using another directive, the declaration looks like this:</p>
            <snippet src="partials/directive.html" from="6" to="8"></snippet>
        </pane>
        
        <pane title="JS">
            <snippet src="js/directives.js" from="7" to="56"></snippet>
        </pane>
    </tabs>

</div>